<% include ../base/layout_header %>
<% include ../base/menu %>
<div id="main" class="main-container container">
  <div class="row">
    <div class="col-md-9 col-sm-9">
      <div class="topics panel panel-default">
        <div class="panel-heading clearfix">
          <div class="node-info">
            <div class="name">
              <strong><%= tab.name %></strong> <span class="total">共有<%= tab.entry_count %>  个讨论主题,<%= tab.follower_count %> 个用户关注这个标签</span>
                <div class="pull-right">
                </div>
            </div>
            <div class="summary">
            <p><%= tab.description %></p>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <% include ../entry/entries %>
        </div>
        <% include ../component/pager %>
      </div>
    </div>

    <div class="sidebar col-md-3">
      <% include ../component/new_entry_button %>
      <% include ../component/tip %>
      <% include ../component/communities %>
      <div class="panel panel-default">
        <div class="panel-heading">推荐 Ruby 资源</div>
        <ul class="list-group">
          <li class="list-group-item"><a href="http://railscasts-china.com/" target="_blank" rel="nofollow">Rails 视频教程</a></li>
          <li class="list-group-item"><a href="https://ruby.taobao.org" target="_blank" rel="nofollow">RubyGems 淘宝镜像</a></li>
          <li class="list-group-item"><a href="http://guides.ruby-china.org">Rails Guides 中文版</a></li> 
        </ul>
      </div>
      <% include ../component/data_report %>
    </div>
  </div>
</div>

<% include ../base/layout_footer %>

