<% entries.forEach(function(entry){ %>
  <div class="topic media topic-25886">
     <div class="avatar media-left">
       <a href="/ryudoawaru"><img class="media-object avatar-48" src="https://ruby-china.org/avatar/c7c4962ce9539d003fd7f0f06539e9d3.png?s=96&amp;d=404" alt="C7c4962ce9539d003fd7f0f06539e9d3"></a>
     </div>
     <div class="infos media-body">
       <div class="title media-heading">
          <a href='/entry/<%= entry._id %>'><%= entry.title %></a>
          <% if(entry.is_top){ %>
            <i class="fa fa-thumb-tack" title="置顶"></i>
          <% } %>
          <% if(entry.is_good){ %>
            <i title="精华帖" class="fa fa-diamond"></i>
          <% } %>
       </div>
       <div class="info">
          <a class="node" href="/topics/node51">RubyConf</a>
          <a data-name="Mu-Fan teng" href="/ryudoawaru"><%= entry.username %></a>
          <span class="hidden-mobile">
            最后由 <a data-name="yfractal" href="/yfractal">yfractal</a> 于 <abbr class="timeago" title="11 天前">11 天前</abbr>回复
          </span>
       </div>
     </div>
     <div class="count media-right">
       <a class="state-false" href="/topics/25886#reply4">4</a>
     </div>
  </div>
<% }) %>
