 <% include layout_header %>
 <% include menu %>
 <% entries.forEach(function(entry){ %>
   <div class='entry'>
     <h3><a href='/entry/<%= entry._id %>'><%= entry.title %></a></h3>
     <p><%= entry.body %></p>
     <p><Posted by <%= entry.username %></p>
   </div>
 <% }) %>

 <% include pager %>
 <% include layout_footer %>
