<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css" />
    <link rel="stylesheet" href="/bower_components/nprogress/nprogress.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css" />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
    <script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
    <script src='/bower_components/nprogress/nprogress.js'></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/select2/dist/js/select2.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!-- 进度条 -->
    <script type="text/javascript">
      $(window).load(function(){
        NProgress.configure({ showSpinner: false });
        NProgress.start();
        NProgress.done();
      });
    </script>  
  </head>
  <body>
