<div class="header">
  <nav class="navbar navbar-inverse navbar-static-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/entries" class="navbar-brand"><b>Node</b> China</a>
      </div>

      <ul class="nav navbar-nav">
        <li class="active"><a href="/entries">社区</a></li>
        <li class=""><a href="/wiki">Wiki</a></li>
        <li class=""><a href="/tab/jobs">招聘</a></li>
        <li class=""><a href="/tab/jobs">API</a></li>
        <li class=""><a href="/tab/jobs">Blog</a></li>
        <li class=""><a href="https://github.com/orzs/node-china">Fork</a></li>
      </ul>
      
      <% if(locals.user){ %> 
        <ul class="nav user-bar navbar-nav navbar-right">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= user.login_name %><span class="caret"></span></a>
            <button class="navbar-toggle" type="button" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="sr-only">toggle</span>
              <i class="fa fa-reorder"></i>
            </button>

            <ul class="dropdown-menu" role="menu">
              <li class=""><a href="/user/<%= user.login_name %>">我的主页</a></li>
              <li class=""><div class="divider"></div></li>
              <li class=""><a href="/user/edit">个人资料设置</a></li>
              <li class=""><a href="/user/<%= user.login_name %>/favorites">我的收藏</a></li>
              <li class=""><div class="divider"></div></li>
              <li class=""><a rel="nofollow" data-method="delete" href="/logout">退出</a></li>
            </ul>
          </li>
        </ul>
      <% }else{ %>
        <ul class="nav user-bar navbar-nav navbar-right">
          <li><a href="/register">注册</a></li>
          <li><a href="/login">登录</a></li>
        </ul>
      <% } %>  

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-search hidden-xs">
          <form class="navbar-form form-search" action="/search/all" method="get">
            <div class="form-group">
              <input class="form-control search-box" name="searchKey" type="text" value="" placeholder="搜索本站内容">
            </div>
            <i class="fa btn-search fa-search"></i>
            <i class="fa btn-close fa-times-circle"></i>
          </form>
        </li>

        <% if(locals.user) { %>
          <li class="notification-count">
            <a href="/notifications" id="notification" class="zero" title="通知"><i class="fa fa-bell"></i><span class="count"></span></a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
</div>
<script type="text/javascript">
$(document).ready(function() {

  // 搜索框动画
  $('.btn-search').on('click', function() {
    $('.form-search').addClass('active');
  });
  $('.btn-close').on('click', function() {
    $('.form-search').removeClass('active');
  });
  // 搜索框动画 结束
});
</script>