<form action='/reply' method='post'>
<p><input  type='hidden' name='entry_id' value='<%= entry._id %>'/></p>
<div class="form-group">
  <textarea name='body' class="form-control" rows="3" placeholder="comment..."></textarea>
</div>
<div class="form-group">
  <p><input class="btn btn-primary " type='submit' value="comment"/></p>
</div>
</form>
