<% if(locals.user) { %>
  <div class="panel panel-default clearfix">
    <div class="panel-body">
      <div class="btn-group pull-left">
        <a class="btn btn-primary" href="/topics/new">发布新帖</a>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="/topics/new?node=3">Gem</a>
          </li>
          <li>
            <a href="/topics/new?node=24">工具控</a>
          </li>
          <li>
            <a href="/topics/new?node=27">瞎扯淡</a>
          </li>
          <li>
            <a href="/topics/new?node=44">部署</a>
          </li>
          <li>
            <a href="/topics/new?node=52">新手问题</a>
          </li>
        </ul>
      </div>

      <a title="订阅 Ruby China 社区新帖" class="pull-right feed-button btn btn-default" target="_blank" href="https://ruby-china.org/topics/feed"><span></span> RSS</a>
    </div>
  </div>
<% } %>
