<div class="panel panel-default">
  <div class="panel-heading">
    节点下其他话题
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <a title="RubyConf.TW 2015 徵求投稿" href="/topics/25886">
        RubyConf.TW 2015 徵求投稿
      </a>
    </li>
  </ul>
</div>  
