<% include layout_header %>
<% include menu %>
<div id="main" class="main-container container">
  <div class="panel panel-default">
    <div class="panel-heading">
      发布新话题
    </div>
    <div class="panel-body">
      <% include messages %>
      <form class="simple_form form" novalidate="novalidate" id="new_topic"
      action="/post" accept-charset="UTF-8" method="post">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">选择节点 <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" name=tab>
                  <li><a href="#">ruby</a></li>
                  <li><a href="#">rails</a></li>
                  <li><a href="#">node</a></li>
                  <li class="divider"></li>
                  <li><a href="#">新手问题</a></li>
                </ul>
            </div>
            <input class="form-control" placeholder="在这里填写标题" type="text" name=title
            id="topic_title">
          </div>
        </div>

        <div class="form-group">
          <textarea class="topic-editor form-control closewarning" rows="20" name=body
          id="topic_body" style="height: 400px;">
          </textarea>
        </div>

        <div class="form-group">
          <input type="submit" name="commit" value="保存" class="btn btn-primary col-xs-2"
          data-disable-with="正在保存">
          <div class="pull-right">
            <a href="/markdown" target="_blank">
              <i class="fa fa-tip">
              </i>
              排版说明
            </a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
 <% include layout_footer %>
