<% include layout_header %>
<% include menu %>
<div id="main" class="main-container container">
  <div class="panel panel-default">
    <div class="panel-heading">
      发布新话题
    </div>
    <div class="panel-body">
      <% include messages %>
      <form class="simple_form form" novalidate="novalidate" id="new_topic" action="/post" accept-charset="UTF-8" method="post">
      
        <div class="form-group">
          <input class="form-control" placeholder="在这里填写标题" type="text" name=title id="topic_title">
        </div>

        <div class="form-group"> 
          <p style="color:gray"><select id='searchTab' class="js-example-basic-single col-md-3">
          </select>
            若无此标签，点击右侧按钮添加
            <a href='#' data-toggle="modal" data-target="#myModal" style='color:black'><i class="fa fa-plus-square"></i> </a> 
          </p>
          <input id='tab_id' type='hidden' name=tab_id >
        </div>

        <div id='ask' class="form-group">
          <textarea id='editor' class="topic-editor form-control closewarning" rows="20" name=body id="topic_body"></textarea>
        </div>

        <div class="form-group">
          <input type="submit" name="commit" value="保存" class="btn btn-primary col-xs-2"
          data-disable-with="正在保存">
          <div class="pull-right">
            <a href="/markdown" target="_blank">
              <i class="fa fa-tip">
              </i>
              排版说明
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<% include new_tab_form %>
<script type='text/javascript'>
  var editor = new Editor({
    element: document.getElementById('editor'),
    status:false
  })
  editor.render()

  $("#searchTab").select2({
    ajax: {
      url: './tabs', 
      dataType: 'json',
      delay: 250,
      data: function (item) {
        return item
      },
      processResults: function (data, page) {
        var tabs = JSON.parse(data)
        tabs.forEach(function(tab,index){
          tabs[index].id = tab._id  
        })
        return {
          results: tabs  
        }
      },
      cache: true
    },
    minimumInputLength: 1,
    templateResult: function(item){if(item.loading) return item.text; return '<span style="color:green">' + item.name + '</span><span style="font-size:8px">: ' + item.description + '</span>'},
    templateSelection: function(item) { $("#tab_id").val(item.id); return item.name },
    escapeMarkup: function (markup) { return markup },
  });
</script>

<% include layout_footer %>
