 <% include layout_header %>
    <% include menu %>
    <h1><%= title %></h1>
    <p> Fill in the form below to sign up</p>
    <% include messages %>
    <form action='/register' method = 'post'>
      <p><input type='text' name=name placeholder='Username' /></p>
      <p><input type='password' name=pass placeholder='Password' /></p>
      <p><input type='submit' value='Sign up' />
    </form>
 <% include layout_footer %>

