<div class="panel panel-default">
   <div class="panel-heading">讨论节点分类导航</div>
   <div class="panel-body">
     <div class="row node-list">
       <div class="node media">
         <label class="media-left">热门标签</label>
         <span class="nodes media-body">
         <% tabs.forEach(function(tab){ %>
           <span class="name"><a title="<%= tab.name %>" href="/tab/<%= tab.name %>"><%= tab.name %></a></span>
         <% }) %>
       </div>
     </div>
   </div>
</div>
<div class="panel panel-default">
   <div class="panel-heading">热门城市</div>
   <div class="panel-body location-list" style="text-align:center;">
    <span class="name"><a href="/users/city/%E5%8C%97%E4%BA%AC">北京</a></span>
  </div>
</div>

