<div class="panel profile panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="avatar media-left">
        <a href="/user/<%= user.login_name %>">
          <img class="media-object avatar-120" src="<%= user.avatar %>"
          alt="18899">
        </a>
      </div>
      <div class="media-body">
        <div class="item">
          <%= user.login_name %> (<%= user.name %>)
          <span class="opts pull-right">
          </span>
        </div>
        <div class="item number">
          第 18899 位会员
        </div>
        <div class="item badges">
          <span class="label label-info role">
            会员
          </span>
        </div>
      </div>
    </div>
    <div class="follow-info row">
      <div class="col-sm-4 followers" data-login="mexiqq">
        <a class="counter" href="/mexiqq/followers">
          0
        </a>
        <a class="text" href="/mexiqq/followers">
          关注者
        </a>
      </div>
      <div class="col-sm-4 following">
        <a class="counter" href="/mexiqq/following">
          3
        </a>
        <a class="text" href="/mexiqq/following">
          正在关注
        </a>
      </div>
      <div class="col-sm-4 stars">
        <a class="counter" href="/mexiqq/favorites">
          1
        </a>
        <a class="text" href="/mexiqq/favorites">
          收藏
        </a>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default" id="user_github_repos">
  <div class="panel-body">
    未设置 GitHub 信息.
  </div>
</div>
