<div class="panel panel-default">
  <div class="panel-heading">友情社区</div>
  <ul class="list-group" style="text-align:center">
    <li class="list-group-item"><a href="http://python-china.org" target="_blank" rel="nofollow" title="Python China 社区"><img src="//ruby-china-files.b0.upaiyun.com/photo/25e6c754403099b489ab68bcd21ca32d.jpg" style="width:120px;"></a></li>
    <li class="list-group-item"><a href="http://cnodejs.org" rel="nofollow" title="CNode 社区" target="_blank"><img src="//ruby-china-files.b0.upaiyun.com/assets/cnodejs.png" style="width:120px;margin: 4px 0;"></a></li>
    <li class="list-group-item"><a href="http://f2e.im" target="_blank" rel="nofollow" title="F2E 前端社区"><img src="//ruby-china-files.b0.upaiyun.com/photo/d17f84604f177a8148bc60c39d160398.png" style="width:120px;"></a></li>
    <li class="list-group-item"> <a href="http://swift.sh" rel="nofollow" title="Swift 中文社区" target="_blank"><img src="https://ruby-china-files.b0.upaiyun.com/assets/swift_sh.png" style="width:120px;"></a></li>
    <li class="list-group-item"><a href="http://golangtc.com/" rel="nofollow" title="Golang 中国" target="_blank"><img src="//ruby-china-files.b0.upaiyun.com/photo/2014/ace251f3e20ff4eb81a30f61d110d87e.png" style="width:120px; margin:6px 0;"></a></li>
    <li class="list-group-item"><a href="http://phphub.org" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2014/6f64d01b427175a24be9481fcac9b63a.png" style="width:120px; margin: 6px 0;"></a></li>
    <li class="list-group-item"><a href="http://segmentfault.com" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2014/bc0ad4d10d5b9cd606c4b8180eb7e4bb.png" style="width:120px; margin: 6px 0;"></a></li>
    <li class="list-group-item"><a href="http://elixir-cn.com" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2015/f65fb5a10d3392a1db841c85716dd8f6.png" style="width: 120px; margin: 0px 0;"></a></li>
    <li class="list-group-item"><a href="http://ionichina.com/" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2015/63aba221c446d3e65b83acf37658a129.png" style="width: 120px; margin: 0px 0;"></a></li>
  </ul>
</div>
