<div class="panel panel-default">
  <div class="panel-heading">统计信息</div>
  <ul class="list-group">
    <li class="list-group-item">社区会员: <%= statistics['user'] %> 人</li>
    <li class="list-group-item">帖子数: <%= statistics['entry'] %> 个</li>
    <li class="list-group-item">回帖数: <%= statistics['reply'] %> 条</li>
  </ul>
</div>
