body {
  background-color: #E7EAEC;
  color: #222527;
}

.header .navbar-default .navbar-brand, .header .navbar-default .navbar-nav>li>a {
  color: #333;
  border-bottom: 3px solid #FFF;
  padding-bottom: 12px;
}

.header .navbar-default .navbar-nav .active>a{
  background-color:#fff;
  color:red; 
}

.avatar-48 {
  width: 48px;
  height: 48px;
  border-radius: 3px;
}

.media-object {
  display: block;
}

.header .navbar {
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,0.04);
  border: 0px;
  color: #A1C3EE;
}

a {
  color: #356DD0;
}

footer a {
  color: #666;
}

.topics .topic .info .node {
  padding: 1px 5px;
  color: #778087;
  text-decoration: none;
  background-color: #f5f5f5;
}

.topics .topic .info {
  color: #aaa;
  font-size: 12px;
  margin-top: 10px;
}

.topics .topic .info a {
  color: #666;
}

.topics .topic .title {
  font-size: 15px;
}

.topics .topic .count {
  width: 100px;
  text-align: right;
  padding-top: 15px;
}

.topics .topic .count a.state-true, .topics .topic .count a:visited {
  background: #AAA;
}

.topics .topic .count a:link {
  background: #98ACDF;
}

.topics .topic .count a:hover{
  background: #102b6a;
}
  
.topics .topic .count a:link, .topics .topic .count a:hover, .topics .topic .count a:visited {
  line-height: 12px;
  color: #fff;
  font-weight: bold;
  border-radius: 80px;
  padding: 2px 10px 2px 10px;
  display: inline-block;
  text-decoration: none;
}

.topics .topic {
  min-height: 68px;
  border-bottom: 1px solid #F0F0F0;
  padding: 10px 15px;
  margin: 0 -15px;
  vertical-align: top;
  position: relative;
}

.node-list .node {
  margin-bottom: 10px;
  margin-top: 0px;
}

.node-list .node .name {
  margin-bottom: 10px;
  width: 100px;
  display: block;
  float: left;
  text-align: left;
}

.node-list .node label {
  font-weight: normal;
  color: #aaa;
  text-align: right;
}

.node-list .node .media-left {
  min-width: 130px;
}

.media-left, .media>.pull-left {
  padding-right: 10px;
}

.node-list .node .name a:link, .node-list .node .name a:visited {
  color: #333;
}

a:focus, a:hover {
  color: #23527c;
  text-decoration: underline;
}

.location-list .name a {
  color: #666;
  margin: 6px;
  display: inline-block;
}

#replies .reply {
  margin: 0 -15px;
  padding: 10px 15px;
  position: relative;
  border-bottom: 1px solid #eee;
  padding-left: 74px;
}

#replies .reply .avatar {
  text-align: center;
  position: absolute;
  top: 10px;
  left: 15px;
}

#replies .reply .infos {
  min-height: 48px;
}

#replies .reply .info {
  font-size: 12px;
}

.topic-detail .info {
  color: #c0c0c0;
  font-size: 12px;
}

.topic-detail .info .node {
  padding: 1px 0px;
  color: #778087;
  text-decoration: none;
  background-color: #f5f5f5;
}

.topic-detail .info a {
  color: #444;
}

abbr[title] {
  border-bottom: 0px;
  cursor: text;
}

.topic-detail .panel-heading h1 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
  text-align: left;
  line-height: 100%;
  margin-bottom: 8px;
}

.opts a:link, .opts a:visited {
  color: #666;
  text-decoration: none;
}

.opts a {
  margin-right: 5px;
}

.panel .panel-heading {
  background: #f5f5f5;
  border-bottom-color: #e9e9e9;
  color: #777;
}

b , strong{
  font-weight: 700;
}

#replies .reply .info .reply-floor {
  color: #7AA87A;
}

#reply .CodeMirror{
  height: 150px
}

#ask .CodeMirror{
  height: 320px
}

.pagination li > a {
  color: #222527;
}

.topics .topic .title i.fa {
  color: #999;
  margin-left: 3px;
}

.topics .filter a.popular {
  color: #EB5424;
}

.notification-count .new {
  color: #F86334; 
}

.topics .node-info .name strong {
  font-weight: bold;
  color: #666;
  text-align: left;
  font-size: 16px;
  padding-bottom: 10px;
}

.topics .node-info .summary {
  color: #888;
  font-size: 13px;
}

.topics .topic .title i.fa-diamond {
  color: #EB5424;
}

.form-group label {
  font-weight: normal;
  color: rgba(0,0,0,0.4);
  font-size: 13px;
  margin-bottom: 0px;
}

.form-control {
  border-radius: 0px;
  border-color: #D5DCE1;
  border: 0px;
  border-bottom: 1px solid #D5DCE1;
  box-shadow: inset 0 0px 0px #fff !important;
  padding: 6px 0px 6px 0;
  transition: none;
}

.form-control[disabled], .form-control[readonly] {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #f9f9f9;
}

.input-group-addon {
  padding: 6px 0;
  background: #fff;
  color: #999;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #D5DCE1;
}

textarea.form-control, #preview.form-control, textarea.form-control:focus {
  padding: 6px;
}

textarea.form-control, #preview.form-control {
  border: 1px solid #D5DCE1;
}

.avatar-120 {
  width: 80px;
  height: 80px;
  border-radius: 2px;
}

.sidebar .profile .number {
  color: #999;
}

.label-info {
  background: #ADD0FF;
  color: #4A5E9E;
}

.sidebar .profile .follow-info a.counter:hover {
  color: #317DDA;
}

.sidebar .profile .follow-info a.counter {
  font-size: 32px;
  color: #356DD0;
}

.sidebar .profile .follow-info a {
  display: block;
  text-decoration: none;
}

.sidebar .profile .follow-info a.text {
  color: #999;
}

.sidebar .profile .follow-info {
  border-top: 1px solid #f0f0f0;
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
}

.userinfo li {
  border-color: #f0f0f0;
  font-size: 13px;
}

.userinfo li label {
  color: #999;
  margin-right: 8px;
  display: inline-block;
  width: 80px;
  text-align: right;
}

.recent-topics ul li .node a {
  color: #444;
}

.recent-topics ul li .node {
  margin-right: 5px;
}

.recent-topics ul li .info {
  margin-top: 3px;
  font-size: 12px;
  color: #bbb;
}

.panel-body {
  padding: 15px;
}
