<% include ../base/layout_header %>
<% include ../base/menu %>
<div id="main" class="main-container container">
  <div class="panel panel-default">
      <div class="panel-heading">Wiki 信息</div>
      <div class="panel-body">
      </div>
  </div>  
</div>  
<% include ../base/layout_footer %>
