<% include ../base/layout_header %>
<% include ../base/menu %>
<div id="main" class="main-container container">
  <div class="row">
    <div class="col-md-9 col-sm-9">
      <div class="topics panel panel-default">
        <div class="panel-heading clearfix">
          <div class="filter pull-right">
            <span class="l">查看:</span>
            <a href="/entries" class="active">默认</a> /
            <a href="/list/good" class="popular"><i class="fa fa-diamond"></i> 优质帖子</a> /
            <a href="/list/no_reply">无人问津</a> /
            <a href="/list/last">最新创建</a>
          </div>
        </div>

        <div class="panel-body">
          <% include ../entry/entries %>
        </div>
        <% include ../component/pager %>
      </div>
      <% include ../tab/tabs %>
    </div>

    <div class="sidebar col-md-3">
      <% include ../component/new_entry_button %>
      <% include ../component/tip %>
      <% include ../component/communities %>
      <div class="panel panel-default">
        <div class="panel-heading">推荐 Ruby 资源</div>
        <ul class="list-group">
          <li class="list-group-item"><a href="http://railscasts-china.com/" target="_blank" rel="nofollow">Rails 视频教程</a></li>
          <li class="list-group-item"><a href="https://ruby.taobao.org" target="_blank" rel="nofollow">RubyGems 淘宝镜像</a></li>
          <li class="list-group-item"><a href="http://guides.ruby-china.org">Rails Guides 中文版</a></li> 
        </ul>
      </div>
      <% include ../component/data_report %>
    </div>
  </div>
</div>

<% include ../base/layout_footer %>
